@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body {
  margin: 0;
  //padding: 0;
  padding-top: 5rem;
  padding-bottom: 5rem;
  width: 100%;
  font-family: 'Rubik', "Montserrat", sans-serif;
  overflow-x: hidden;
  
  //min-height: 100vh;
  color: white;
  box-sizing: border-box;
  background: rgb(37,15,119);
  background: radial-gradient(circle, rgba(37,15,119,1) 0%, rgba(10,24,40,1) 73%, rgba(10,24,40,1) 100%);
}
#root{
  width: 100%;
}
.section-container-management {
  width: 100%; /* Ancho máximo de 90vw */
  display: inline-block;
}
.card-management-wrapper{
  display: grid; /* Cambia a Grid Layout */
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1rem)); /* Máximo 5 columnas */
  //row-gap: 0.5vmin; /* Espaciado entre las tarjetas */  
  justify-items: center; /* Alinea las tarjetas a la izquierda */ 
  padding: 1rem; /* Espaciado interno */
  gap: 1.5rem;
  /*box-sizing: border-box; /* Incluye el padding en el tamaño total */
}
.card {
  border: 0.1rem solid #bbbbbb41;
  border-radius: 0.4rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.041);
  position: relative;
  background-color: rgba(255, 255, 255, 0.12); /* Color de fondo claro */
  text-align: center;
  width: 14rem;
  height: 12rem;
  align-items: center;
  display: flex;
  flex-direction: column; /* Asegura que el contenido esté en columna */
  flex: 0 0 auto; /* Asegura que las Cards no se reduzcan ni se expandan automáticamente */
  cursor: pointer; /* Cambia el cursor al pasar sobre la barra */
}
.card:hover{
  transform: scale(1.05); /* Aumenta el tamaño al pasar el ratón */
  transition: transform 0.3s ease; /* Transición suave */
}
.card-title {
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(0.8rem, 2.5vw, 1rem); /* Tamaño dinámico de la fuente */
  //padding-left: 0.5rem;
  //padding-right: 0.5rem;
  //width: 80%; /* Asegura que el título ocupe todo el ancho del contenedor */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el contenido que desborda */
  text-overflow: ellipsis;
}

/** NAVBAR */
.navbar {
  position: fixed; /* Fija la barra en la parte superior */
  top: 0;
  left: 0;
  width: 100%; /* Ocupa todo el ancho */
  height: 4rem; /* Altura fija de la barra de navegación */
  background-color: rgba(40, 44, 52, 0.8); /* Color semitransparente */
  display: flex;
  justify-content: space-between; /* Distribuye los elementos a los extremos */
  align-items: center; /* Centra verticalmente los elementos */
  padding: 0.2rem 0.8rem;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
  box-sizing: border-box; /* Asegura que el padding no desborde */
}
/* Contenedor del menú desplegable */
.dropdown {
  position: relative;
}  /* Menú desplegable */
.dropdown-menu {
  position: absolute;
  right: 0;
  background-color: rgba(40, 44, 52, 0.8); /* Color semitransparente */
  border: 0.1rem solid #00000044;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.041);
  z-index: 1000;
  min-width: 10rem;
}  
/* Elementos del menú */
.dropdown-item {
  border-radius: 0.5rem;
  display: block;
  padding: 0.5rem 0.8rem;
  text-decoration: none;
  cursor: pointer;
  color: white;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.041);
  box-sizing: border-box; /* Asegura que el padding no desborde */
  font-size: 1rem; /* Tamaño de la fuente */
}  
.dropdown-item:hover {
  background-color: #0056f575;
  font-size: 1.2rem; /* Aumenta el tamaño al pasar el ratón */
  transition: transform 0.3s ease; /* Transición suave para el efecto de escala */
}  
/* Estilo específico para "Cerrar Sesión" */
.dropdown-item.logout:hover {
  background-color: rgba(161, 7, 7, 0.562); /* Cambia el texto a rojo */
}
/* Ocultar el menú cuando no está abierto */
.dropdown-menu.hidden {
  display: none;
}
/* Estilo para el menú de gestión */
.navbar-manage {
  position: relative;
  cursor: pointer;
  width: 20%;
  text-align: center;
  max-width: 18rem; /* Ancho máximo para evitar que se expanda demasiado */    
}
.navbar-manage:hover {
  transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el ratón */  
}  
.manage-title {
  font-size: 1.8rem; /* Tamaño de la fuente */
}  
.dropdown-menu-manage {
  position: absolute;
  background-color: rgba(40, 44, 52, 0.8); /* Color semitransparente */
  border: 0.1rem solid #00000044;
  border-radius: 0.5rem; 
  width: 100%; /* Ocupa el mismo ancho que el contenedor */
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.041);
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}  
.dropdown-item-manage {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: white;
  box-sizing: border-box; /* Asegura que el padding no desborde */
  font-size: 1.2rem; /* Tamaño de la fuente */
  border-radius: 0.5rem;
  padding: 0.5rem 0.8rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.041);
}  
.dropdown-item-manage:hover {
  background-color: #003ec575; /* Fondo al pasar el ratón */
  font-size: 1.4rem; /* Aumenta ligeramente el tamaño */
  transition: transform 0.3s ease; /* Transición suave */
}